<div *ngIf="loadingService.isLoading" class="loader-container">
  <div class="inner-loader">
      <mat-progress-spinner
          class="example-margin"
          color="primary"
          mode="indeterminate">
      </mat-progress-spinner>
  </div>
</div>

<mat-tab-group mat-align-tabs="center" [(selectedIndex)]="selectedIndex" (selectedTabChange)="changeTab($event.index);">
  <mat-tab *ngFor=" let tab of tabs" [label]="tab.label">
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>